.header_container {
    display: flex;
    justify-content: space-between;
    width: 875px;
}

.profile_name_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile_name_container>div {
    margin-right: 5px;
}

.logo_container {
    height: 100%;
}

.logo_container img {
    height: 100%;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
}