.business_trip {
    grid-template-columns: 2fr repeat(3, 1fr) 130px;
    composes: body_content_wrapper from '../../../App.module.css';
}

.trip {
    display: flex;
    flex-direction: row;
}

.trip>div {
    margin-left: 3px;
}

.airplane {
    width: 20px;
    height: 20px;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    background-position: 0;
}

.train {
    width: 20px;
    height: 20px;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    background-position: -20px;}

.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-image: url("../../../assets/icon.png");
    background-color: transparent;
}

.name {
    font-family: Roboto, monospace;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    color: black;
}

.button_container {
    display: grid;
    gap: 10px;
    grid-template-rows: 20px 1fr;
}

.button_container>div {
    display: flex;
    justify-content: flex-end;
}

.button {
    composes: button from "./../../../App.module.css";
}

.delete_button {
    width: 20px;
    height: 20px;
}

.delete {
    background-color: #B04632;
}

.delete:hover {
    background-color: #933B27;
}

.delete:active {
    background-color: #6E2F1A;
}




