.body_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 25px;
    width: 875px;
    background-color: #F9F9F9;
}

.body_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 25px;
}