.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #d9d9d9;
    height: 100vh;
}

.pseudo {
    min-width: 0;
}

.container_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #ffffff;
}

.content h1 {
    margin: 0;
}

.form {
    margin-top: 5px;
    width: 100%;
}

.form>div {
    height: 60px;
}

.button {
    composes: button from "../../App.module.css";
    width: 100%;
    margin-top: 10px;
}

.error_log {
    color: red;
}