.body_container {
    padding-top: 5px;
}

.body_container>div {
    height: 50px;
}

.first_row_second_group {
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 25px;
}

.exit {
    font-size: 20px;
    width: 30px;
}

.button {
    margin-top: 20px;
    composes: button from "../../../App.module.css";
}

.save {
    width: 130px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.third_row_first_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.third_row_second_group {
    display: grid;
    grid-template-columns: 1fr 130px;
    gap: 25px;
}

