.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.55);
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.container {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.button_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    composes: button from "../../../App.module.css";
}