.body_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 25px;
    width: 875px;
    background-color: #F9F9F9;
}

.body_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 25px;
    margin-top: 25px;
}

.board_container {
    width: 100%;
    border-radius: 15px;
    /*border: 1px solid #C4C4C4;*/
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    border: 1px solid #C4C4C4;
    border-bottom: 0;
    font-size: 30px;
}

.footer {
    border-radius: 0 0 15px 15px;
    border: 1px solid #C4C4C4 !important;
}

.board_container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #C4C4C4;
    border-bottom: 0;
    padding-left: 10px;
    height: 75px
}

.board_container>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #C4C4C4;
    border-bottom: 0;
    padding-left: 10px;
    height: 75px;
    color: black;
    text-decoration: none;
}

.description {
    font-size: 12px;
    color: #8B8B8B;
}