.hotels {
    grid-template-columns: 3fr repeat(2, 2fr) 130px;
    composes: body_content_wrapper from '../../../App.module.css';
    border-top: 1px solid #C4C4C4;
    border-bottom: 0;
}

.button_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.name {
    font-family: Roboto, monospace;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    color: black;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    composes: button from "./../../../App.module.css";
}




